<ion-view view-title="Gypsy'r">

  <ion-nav-bar class="bar-positive" >
    <ion-nav-buttons side="right">
      <!-- Drop ng-controller -->
      <button id="user-button-add" class="button button-clear ion-person-stalker userButtonAdd" ng-click="openModalAddUser()">+</button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>

    <ion-refresher pulling-text="Pull to refresh" on-refresh="getNewList()">
    </ion-refresher>

    <ion-list  show-reorder="showReorderButton">

        <ion-item class="item item-avatar my-item effect1"  href="#/user/{{user.id}}" ng-repeat="user in users"
        on-hold="longPressCard(showReorderButton)" >

            <!-- utiliser un ui-sref /users/:id
              réintroduire un ng reapeat
            -->

            <img ng-src="{{user.avatarURL}}">
            <h2>{{user | fullName}}</h2>

            <ion-option-button class="button-assertive ion-close-circled" ng-click="deleteById(user.id)">
            </ion-option-button>

            <ion-reorder-button class="ion-navicon my-button" on-reorder="moveCard(user, $fromIndex, $toIndex)"></ion-reorder-button>


        </ion-item>

    </ion-list>

  </ion-content>

</ion-view>
