<ion-view view-title="{{user.firstname}}">

  <ion-nav-bar class="bar-positive">

    <ion-nav-back-button id="back-button">
    </ion-nav-back-button>

  </ion-nav-bar>

  <ion-content>

    <div class="list card">

      <div class="item item-avatar">

        <img ng-src="{{user.avatarURL}}"><h2 id="fullname">{{user | fullName }}</h2><br/>

        <p><strong>Adresse</strong><br/>
          {{user.city}}<br />
          {{user.street}}
        </p>

      </div>

    </div>

  </ion-content>

</ion-view>
